.product {
  display: flex;
  padding: 0 16px;
  > div {
    width: 50%;
    padding: 0 8px;
  }
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  > div:first-of-type {
    background: #fafafa;
    padding: 40px 48px;
    color: #404040;
    border-radius: 5px;
    position: relative;
    > h4 {
      font-size: 21px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    > i {
      font-size: 12px;
      color: #737373;
      margin-top: 5px;
    }
    > button {
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-size: 11px;
      font-weight: 500;
      background: #52525b;
      color: #fff;
      padding: 4px 8px;
      border-radius: 5px;
    }
    > button:hover {
      background: #71717a;
    }
  }
}
.order {
  > div:first-of-type {
    margin: 20px 0;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > p {
      font-size: 15px;
    }
    > span {
      select {
        width: 64px;
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        margin: 0 8px;
        // padding: 0 5px;
        text-align: center;
      }
      button {
        background: #f5f5f5;
        padding: 2px 10px;
        border-radius: 5px;
      }
    }
  }
  > hr {
    border: 0;
    width: 95%;
    height: 1px;
    margin: 8px auto;
    background: #e2e8f0;
  }
  > p {
    text-align: right;
    padding-right: 40px;
    font-weight: 300;
    font-size: 15px;
  }
  > div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 20px 0;
    > button {
      background: #e2e8f0;
      padding: 8px 40px;
      border-radius: 5px;
    }
    > button:hover {
      background: #f1f5f9;
      box-shadow: 2px 2px 4px #e5e5e5;
    }
  }
}
.desc {
  width: 100%;
  padding: 50px 40px;
}
